<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="qcmGroup">
      <h2 data-cy="qcmGroupDetailsHeading"><span>Qcm Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ qcmGroup.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ qcmGroup.name }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ qcmGroup.created_at | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Classe</span></dt>
        <dd>
          <div *ngIf="qcmGroup.classe">
            <a [routerLink]="['/classe', qcmGroup.classe?.id, 'view']">{{ qcmGroup.classe?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/qcm-group', qcmGroup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
