<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Activation</h1>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>Votre compte a bien été activé.</strong> Vous pouvez maintenant </span>
        <a class="alert-link" routerLink="/login">vous connecter</a>.
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <strong>Votre compte n'a pas pu être activé.</strong> Expliquez votre problème en envoyant un mail à ketil.grammont@orange.fr.
      </div>
    </div>
  </div>
</div>
