<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4">Bienvenue!</h1>

    <p class="lead">Voici la page d'accueil</p>

    <div [ngSwitch]="isAuthenticated()">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account"
          >Vous êtes connecté en tant que "{{ account.firstName }} {{ account.lastName }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Si vous avez déjà un compte, vous pouvez </span>
        <a class="alert-link" (click)="login()">vous connecter</a>
        <span>, les comptes élèves sont créés par le professeur.</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span
          >Vous êtes professeur et vous n'avez pas encore de compte? Ou vous avez juste des questions à propos de ce site?<br />
          N'hésitez pas à m'envoyer un mail: ketil.grammont@orange.fr</span
        >
      </div>
    </div>
  </div>
</div>
